{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Bitbalance{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_login.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Login</h1>
    <p class="intro">Welcome to Bitbalance - Your Personal Portfolio Tracker</p>
</header>
<div class="container">
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p style="text-align: center; margin-top: 15px;">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
    </div>
</div>
<footer>
    <p>© 2025 Mateus Sfeir</p>
</footer>
{% endblock %}
