{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Bitbalance{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Login</h1>
    <p style="color: #cfcfcf; font-size: 1rem;">Welcome to Bitbalance - Your Personal Portfolio Tracker</p>
</header>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
</div>
<footer>
    <p>© 2025 Mateus Sfeir</p>
</footer>
{% endblock %}
